body, html{
    background-color: rgb(27, 26, 26);
}
#sidebar{
    background-color: rgb(27, 26, 26);
    height: 95vh;
    overflow-y: auto;
}
#first{
    width: 100%;
}
#scriptions{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#the-user{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#explore{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#more{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#report-story{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#end{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.adjust{
    gap: 10px;
}
span{
    color: white;
}
h6{
    color: white !important;
}
a{
    color: white !important;
}
p{
    color: white;
}
.hover:hover{
    background-color: grey;
}